
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<form method="post" action="/User/Delete">
    <h5>Enter the Pizza name to delete the info</h5>
    <input type="text" name="id" />
    <button type="submit">Delete</button>
</form>